

.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid white;
}
.header {
    background-color: rgba(69, 0, 94, 0.72);
    color: white;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 2vw;
}
.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}


.user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.new-message-form {
    display: flex;
    width: 100%;
    padding: 10px;
}

.new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5vw;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.send-button {
    border: none;
    outline: none;
    background: rgba(69, 0, 94, 0.72);;
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .chat-app {
        flex-direction: row;
    }
    .header {
        height: 100%;
        width: 10%;
    }
    .messages {
        width: 80%;
    }
    .new-message-form {
        width: 10%;
    }
 }